
body {
  background-color: #f4f8fc;
}

.parent{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 10px gray;
    padding-bottom: 15px;
    padding-top: 10px;


  .class1 i {
  font-size: 48px;         
  color: #ff8c09;           
  transition: transform 0.3s ease;
  }
.class1 i:hover {
  transform: scale(1.2);    
  color: #e6e9ec;           
}
.class2{
        padding-top: 16px;
        padding-bottom: 16px;
    a{
        text-decoration: none;
        padding:40px;
        color: rgb(81, 81, 81);
        font-size: 16px;
        font-family: "Inter", Sans-serif;
        font-weight: 500;
    }
    span{
        color: black;
        text-decoration: 2px underline rgb(255, 98, 0);  
    }
}
.class3{
    padding-top: 16px;
    padding-bottom: 16px;
    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-family: "Inter", Sans-serif;
        font-weight: 500;
        border: 2px solid black;
        background-color: black;
        padding: 8px 25px;
        border-radius: 30px;
        margin-right: 16px;
    }
}
}
.team-card {

  background-color: rgba(176, 216, 178, 0.534);

  background-color: rgb(233, 224, 233);

  border: 1px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
 
  
}
.team-card:hover {
  transform: translateY(-5px);
}
.team-card img {
  width: 80%;
  height: 200px;
  image-rendering: 30px;
  margin: 30px;
}


h5{
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase ;
  font-weight: bold;
  padding: 20px;
}

.class2{
  
  display: flex;
  justify-content: center;
  gap: 20px; /* spacing between links */
  margin-bottom: 20px;


        padding-top: 16px;
        padding-bottom: 16px;
}
    a{
        text-decoration: none;
        padding:20px;
        color: rgb(81, 81, 81);
        font-size: 16px;
        font-family: "Inter", Sans-serif;
        font-weight: 500;
    }
    span{
        color: black;
        text-decoration: 2px underline rgb(255, 98, 0);  
    }

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
img{
    border-radius: 125px ;
}

